$picton-blue: #42a4f4;
$rolling-stone: #767c82;
$shark: #202224;
$gallery: #eee;
$malibu: #7dc8f7;
$congress-blue: #00467f;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: $gallery;
}

#app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  width: 300px;

  &__group {
    align-items: flex-end;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1rem 0;
  }

  &__label {
    color: $rolling-stone;
    flex: 1;
    font-size: 1.4rem;
    line-height: 1;
    white-space: nowrap;
  }

  &__value {
    color: $shark;
    font-family: 'Open Sans';
    font-size: 1.5rem;
    line-height: 1;

    &:hover {
      color: $congress-blue;
    }
  }

  &__input {
    font-family: 'Open Sans';
    font-size: 1.5rem;
    line-height: 1.1;
    position: relative;
    width: 150px;
  }

  &__svg {
    display: inline-block;
    fill: $shark;
    height: 24px;
    width: 24px;

    &:hover {
      fill: $congress-blue;
    }
  }
}

.input-container {
  cursor: pointer;
  margin-left: 2rem;
  position: relative;
}

.value-container {
  display: flex;
  width: 150px;
}

.helper {
  bottom: -22px;
  color: $picton-blue;
  display: block;
  font-size: 1rem;
  height: 20px;
  left: 0;
  line-height: 14px;
  position: absolute;
  width: 100%;
}

// Animation

@keyframes fade-in {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: $malibu;
  }

  100% {
    background-color: transparent;
  }
}

.fade-in {
  animation: fade-in 1s;
}
